.wrapper {
    padding: 7rem 0 10rem;   
}

input[type=text], input[type=email], textarea {
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    padding: 0.4rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
    border: solid 1px grey;
    border-radius: 5px;
}

label {
    font-size: 1.4rem;
}


button:hover {
    opacity: 0.8;
    cursor: pointer;
}

button:focus {
    outline: none;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination button {
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
    text-decoration: none;
    color: #007bff;
  }
  
  .pagination button.active {
    font-weight: bold;
    background-color: #007bff;
    color: white;
  }
  
  .pagination button.disabled {
    pointer-events: none;
    color: #ccc;
  }

  .category-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .category-list li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .category-list li.current a {
    font-weight: bold;
    color: red; /* カレントカテゴリーのスタイルを変更 */
  }